/* ------------------------------------------- */
/* Fonts */
/* ------------------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

/* ------------------------------------------- */
/* Reusable Styles and Utilities */
/* ------------------------------------------- */
body {
  font-family: "Poppins", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 1200px;
}

.btn {
  text-decoration: none;
  width: 168px;
  height: 44px;
  color: white;
  padding: 10px 24px;
  background-color: #e02c6d;
  transition: all .5s;
  display: flex;
  align-items: center;
}

.btn span {
    transition: all .5s;
    margin-left: 8px;
}

.btn:hover span {
    margin-left: 16px;
}

.btn:hover {
    background-color: #ffffff;
    color: #e02c6d;
    transform: scale(1.05);
}

/* ------------------------------------------- */
/* Header section Start */
/* ------------------------------------------- */
header {
  background-color: #2d25a0;
  color: #ffffff;
}

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.header-title {
    margin-bottom: 32px;
    font-size: 64px;
    line-height: 80px;
    font-weight: 700;
}

.header-intro {
    width: 485px;
    margin-right: 102px;
}

.header-hero-img img {
  width: 556.01px;
  height: 438px;
  display: block;
  transition: transform .7s;
}

.header-hero-img img:hover {
    transform: scale(1.07);
}
/* ------------------------------------------- */
/* Header section End */
/* ------------------------------------------- */

/* ------------------------------------------- */
/* Player Section Start */
/* ------------------------------------------- */

/* ------------------------------------------- */
/* Player Section End */
/* ------------------------------------------- */

/* ------------------------------------------- */
/* Highlights Section Start */
/* ------------------------------------------- */

/* ------------------------------------------- */
/* Highlights Seciton End */
/* ------------------------------------------- */

/* ------------------------------------------- */
/* Footer Section Start*/
/* ------------------------------------------- */

/* ------------------------------------------- */
/* Footer Section End */
/* ------------------------------------------- */
